body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:  'Muli', sans-serif;
}
.logo img {
	height: 80%;
	display: block;
	margin: 4px auto;
}
.table  {
	overflow-y: scroll;
}
a.pull.btn.btn-info.btn-xs{
	float:right;

}
a.note.pull.btn.btn-info.btn-xs {
    float: right;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 15px;

}
h3.normal {
	margin:10px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
 


.image-preview-input2 {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input2 input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title2 {
    margin-left:2px;
}
/* CSS doc type file upload */
.file-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.file-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-preview-input-title {
    margin-left:2px;
}
 


.file-preview-input2 {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.file-preview-input2 input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-preview-input-title2 {
    margin-left:2px;
}
 
/*CSS for Search Form */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  margin-bottom:3px !important;
}

.glyphicon { left:-2.2px; top:2px; margin-bottom: 10px;margin-right: 10px;}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
   left:-2px;
}
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding:-1px -1px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 26px;
 
}

footer{
  text-decoration: none;
}
.serchform{
	width:235px;
	height:36px;
}
.field{
	width:120px;
	height:36px;
}
.butn{
	width:120px;
	height:35px;
	background-color:#fff;
	border:0.8px solid gray;
}
.searchbutn{
	width:120px;
	height:36px;
}
ul.nav.nav_stacked li{
	color:#00A7D0;
}
ul.nav.nav_stacked li h4{
	color:black;
}
.nav{
	padding-left:15px;
}