.logo img {
	height: 80%;
	display: block;
	margin: 4px auto;
}
.table  {
	overflow-y: scroll;
}
a.pull.btn.btn-info.btn-xs{
	float:right;
}
a.note.pull.btn.btn-info.btn-xs {
    float: right;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 15px;
}
h3.normal {
	margin:10px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


.image-preview-input2 {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input2 input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title2 {
    margin-left:2px;
}